body {
    margin-left: 70px;
    margin-right: 70px;
    width: 70%;
    background-color: #fffffd;
}


nav ul, footer ul {
    font-family:'Couries New', 'Courier', 'monospace';
    padding: 20px;
    font-size:1.2em;
    list-style: none;
    text-align:center; 
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;

    
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

a {
    font-size: 1.3em;
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

a.link {
    font-size: 1em;
    text-decoration: none;
    color: #4169E1	;
}
a.link:hover {
    text-decoration: underline;
}

a.lu {
    font-size: 1em;
    text-decoration: none;
    color: black;
}
a.lu:hover {
    text-decoration: underline;
    color: #4682B4	;
}



p {
    font-size: 1.5em;
    font-family:'Couries New', 'Courier', 'monospace';
    line-height: 1.1em;
    color: #333;
    text-align: center;
}

p.text {
    font-size: 1.2em;
    font-family:'Couries New', 'Courier', 'monospace';
    line-height: 1.1em;
    color: #333;
    text-align: justify;
}

h1 {
    font-size: 4em;
    font-family:'Georgia';
    text-align:center;
    border-bottom: 1px solid #d5d5d5;
}
h2 {
    font-size: 1.5em;
    font-family:'Couries New', 'Courier', 'monospace';
    text-align:center;
}
 
h3 {
    font-size: 2em;
    font-family:'Couries New', 'Courier', 'monospace';
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;  
}
h4 {
    font-size: 1.2em;
    font-family:'Couries New', 'Courier', 'monospace';
    text-align:left;
    margin-top: 40px;
    margin-bottom: 40px;  
}
h5 {
    font-size: 1.4em;
    font-family:'Couries New', 'Courier', 'monospace';
    text-align:center;
    margin-top: 50px;
    margin-bottom: 20px;  
    line-height: 1.1em;
    color: #444;
}

div.one {
  text-align: left;
  width: 100%;
  height:420px;

}

div.twoleft {
  float: left;
  text-align: left;
  display: inline;
  width: 50%;
  height:450px;

}

div.tworight {
  float: right;
  text-align: right;
  display: inline;
  width: 50%;
  height:450px;
}



div.left {
  float: left;
  text-align: left;
  display: inline;
  width: 30%;
  height:450px;

}


div.center {
  float: left;
  text-align: left;
  display: inline;
  height:450px;
  width: 40%;
}

div.right {
  float: left;
  text-align: left;
  display: inline;
  height:450px;
  width: 30%;
}

li.ho{
    font-size: 1.2em;
    font-family:'Couries New', 'Courier', 'monospace';
    line-height: 1.1em;
    color: #333;
}



footer {
    margin-top: 1200px;
    font-size: .8em;
    
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

article {
    margin-left: 400px;
    padding: 1em;
    height: 10px;
    overflow: hidden;
   }

hr.style1{
	border-top: 1px solid #8c8b8b;
}


hr.style2 {
	border-top: 3px double #8c8b8b;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

hr.style4 {
	border-top: 1px dotted #8c8b8b;
}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}


hr.style6 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

hr.style7 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

hr.style9 {
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}

hr.style10 {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}


hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}


hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #f0f0f0; 
  color: #8c8b8b; 
  font-size: 18px; 
}


hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}


hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}


