
<!DOCTYPE html>
	<html>
		<head>
		 <link rel="icon" href="http://bouzaslab25.com/favicon.png">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>

			<div style="float:right;"> 
	  <div class="dropdown">
  <button class="dropbtn" style="border-radius: 15px 15px 0px 0px; margin-top: 30px;"><a href="/collabs/Bouzas-Lee.html" style="color:white;text-decoration: none;">HOME</a></button>
</div>
		  <div class="dropdown">
  <button class="dropbtn" style="border-radius: 15px 15px 0px 0px; margin-top: 30px;"><a href="/collabs/Bouzas-Lee.html" style="color:white;text-decoration: none;">About</a></button>
</div>			
	  <div class="dropdown">
  <button class="dropbtn" style="border-radius: 15px 15px 0px 0px; margin-top: 30px;"><a href="" class="no-drop" style="color:white;text-decoration: none;">Publications</a></button>
  <div class="dropdown-content" style="  width: 200px;">
    <a href="/collabs/pictures.html">Pictures!</a>
   </div>
</div>
   <div class="dropdown">
  <button class="dropbtn" style="border-radius: 15px 0px 0px 0px;margin-top: 30px;"><a href=""/collabs/schedules_march2019.html"" style="color:white;text-decoration: none;">People</a></button>
  <div class="dropdown-content" style="  width: 200px;">
    <a href="/collabs/presenters_march2019_Lee.html">About the presenters</a>
    <a href="/collabs/schedules_march2019.html">Talks & Schedules</a>
    </div>
   </div>
	
   <div class="dropdown">
  <button class="dropbtn" style="border-radius: 15px 0px 0px 0px;margin-top: 30px;"><a href=""/collabs/schedules_march2019.html"" style="color:white;text-decoration: none;">Events</a></button>
   </div>			
				
   <div class="dropdown">
  <button class="dropbtn" style="border-radius: 15px 0px 0px 0px;margin-top: 30px;"><a href=""/collabs/schedules_march2019.html"" style="color:white;text-decoration: none;">Collaborations</a></button>
  <div class="dropdown-content" style="  width: 200px;">
    <a href="/collabs/presenters_march2019_Lee.html">About the presenters</a>
    <a href="/collabs/schedules_march2019.html">Talks & Schedules</a>
    </div>
   </div>
	  </div>
			
			
   <h1 style="font-family:'Georgia'">Lab 25</h1>

			<div class="container">


			
			{{ content }}
			
			</div>
<!-- /.container -->
			<footer>
				<hr class="style2">
	    		<ul>
				<li><a href="https://github.com/BouzasLab25"><i class="fa fa-github"></i> github.com/BouzasLab25</a></li>
				</ul>
			</footer>
		</body>
	</html>
