<!DOCTYPE html>
	<html>
		<head>
		<link rel="icon" href="http://adrifelcha.github.io/faviconMouse.png">
		<meta charset="UTF-8">
		{% seo %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
    		<meta name="theme-color" content="#157878">
    		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
			<title>{{ page.title }}</title>

		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">My work</a></li>
	        		<li><a href="/blog">Blog</a></li>
			</ul>				
			</nav>
			<a href="http://bouzaslab25.com/PAPIME2016/"> <button class="w3-button w3-black">Black</button></a>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:adrifelcha@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Adrifelcha">github.com/Adrifelcha</a></li>
				</ul>
			</footer>
		</body>
	</html>
