<!DOCTYPE html>
	<html lang="{{ site.lang | default: "en-US" }}">
		<head>
		<link rel="icon" href="http://adrifelcha.github.io/faviconMouse.png">
		<meta charset="UTF-8">
		{% seo %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
    		<meta name="theme-color" content="#157878">
    		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		</head>
		<body>
		
				
			<font color="white"> Blank Space </font>
			<title>{{ page.title }}</title>
			<font color="white"> Blank Space </font>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<center>
	    				<ul>
				<font color="white"> Blank Space </font>
	        		<li><a href="mailto:adrifelcha@gmail.com">Contacta a un miembro del proyecto</a></li>
		       		<li><a href="https://github.com/BouzasLab25/PAPIME2016">Checa nuestro repositorio de GitHub</a></li>
				<font color="white"> Blank Space </font>
					</ul>
				</center>
			</footer>
		</body>
	</html>
