<!DOCTYPE html>
	<html lang="{{ site.lang | default: "en-US" }}">
		<head>
		<link rel="icon" href="http://adrifelcha.github.io/faviconMouse.png">
		<meta charset="UTF-8">
		{% seo %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
    		<meta name="theme-color" content="#157878">
    		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
					</head>
		<body>
		
			
		<div class="container">
  			<div class="jumbotron">
				<h1> Laboratorio virtual para las Ciencias del Comportamiento </h1>
      				<h2> Materiales desarrollados por los estudiantes del Laboratorio 25 (Dr. Arturo Bouzas) de la Facultad de Psicología, UNAM, para facilitar la enseñanza y el aprendizaje de los principales modelos de la Psicolgía Experimental. </h2>
					<center>
						<a href="http://bouzaslab25.com/PAPIME2016/"><button type="button" class="btn btn-primary">REGRESAR</button></a>
					</center>
    		        </div>
  			<p>This is some text.</p>      
  			<p>This is another text.</p>      
		</div>


		
			<font color="white"> Blank Space </font>
			<title>{{ page.title }}</title>
			<font color="white"> Blank Space </font>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<center>
	    				<ul>
				<font color="white"> Blank Space </font>
	        		<li><a href="mailto:adrifelcha@gmail.com">Contacta a un miembro del proyecto</a></li>
		       		<li><a href="https://github.com/BouzasLab25/PAPIME2016">Checa nuestro repositorio de GitHub</a></li>
				<font color="white"> Blank Space </font>
					</ul>
				</center>
			</footer>
		</body>
	</html>
